<div class="list-group list-group-flush">
  <a href="/artisan/dashboard" class="list-group-item list-group-item-action"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
  <a href="/artisan/products" class="list-group-item list-group-item-action"><i class="bi bi-box me-2"></i>Products</a>
  <a href="/artisan/products/new" class="list-group-item list-group-item-action"><i class="bi bi-plus-circle me-2"></i>Add Product</a>
  <a href="/artisan/orders" class="list-group-item list-group-item-action"><i class="bi bi-bag me-2"></i>Orders</a>
  <a href="/artisan/auctions" class="list-group-item list-group-item-action"><i class="bi bi-hammer me-2"></i>Auctions</a>
  <a href="/artisan/reviews" class="list-group-item list-group-item-action"><i class="bi bi-star me-2"></i>Reviews</a>
  <a href="/artisan/analytics" class="list-group-item list-group-item-action"><i class="bi bi-graph-up me-2"></i>Analytics</a>
  <a href="/artisan/profile" class="list-group-item list-group-item-action"><i class="bi bi-person me-2"></i>Profile</a>
</div>
