<div class="list-group list-group-flush">
  <a href="/admin/dashboard" class="list-group-item list-group-item-action"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
  <a href="/admin/users" class="list-group-item list-group-item-action"><i class="bi bi-people me-2"></i>Users</a>
  <a href="/admin/artisans" class="list-group-item list-group-item-action"><i class="bi bi-palette me-2"></i>Artisans</a>
  <a href="/admin/products" class="list-group-item list-group-item-action"><i class="bi bi-box me-2"></i>Products</a>
  <a href="/admin/categories" class="list-group-item list-group-item-action"><i class="bi bi-tags me-2"></i>Categories</a>
  <a href="/admin/orders" class="list-group-item list-group-item-action"><i class="bi bi-bag me-2"></i>Orders</a>
  <a href="/admin/auctions" class="list-group-item list-group-item-action"><i class="bi bi-hammer me-2"></i>Auctions</a>
  <a href="/admin/reviews" class="list-group-item list-group-item-action"><i class="bi bi-star me-2"></i>Reviews</a>
  <a href="/admin/coupons" class="list-group-item list-group-item-action"><i class="bi bi-tag me-2"></i>Coupons</a>
  <a href="/admin/reports" class="list-group-item list-group-item-action"><i class="bi bi-graph-up me-2"></i>Reports</a>
</div>
